.layout {
  display: grid;
  grid-template-columns: 20rem calc(100% - 20rem);
  grid-template-areas: 
  'header  header'
  'sidebar content';
  gap: 2rem;

  width: 100%;
}

.layout__header {
  grid-area: header;
}

.layout__sidebar {
  grid-area: sidebar;

  width: 20rem;
}

.layout__content {
  grid-area: content;

  padding: 2rem;

}
